$header-navbar-color: #fff;
$header-logo-color: #f5f5f5;
$header-under-logo-color: #11749e;
$header-line-color: #808080;
$header-active-color: #11749e;

$features-container-color: #11749e;
$main-title-color: #fff;

$feature-title-color: #fff;
$feature-text-color: #fff;

$agency-news-bg-color: #222222;
$agency-one-text-color: #fff;

$agency-second-bg-color: #f3f3f3;
$agency-second-text-color: #222222;

$separator-title-color: #222222;
$separator-white-color: #fff;

$blog-title-color: #11749e;

$phone-demo-h2-color: #fff;
$phone-demo-p-color: #fff;
$phone-button-bg-color: #11749e;

$about-h2-color: #11749e;

$footer-btn-color: #11749e;
